<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>10:50</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Python Basics - Variables, Types, Lists and Dictionaries</td> </tr>
      <tr> <td>10:50</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Python (Continued) - Control Structures and Getting Help</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>pandas - Python Data Analysis Library</td> </tr>
      <tr> <td>10:50</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Python Plotting and </td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:50</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  </div>
</div>
